@import "compass/css3";

$font-path: '../Fonts/';
$image-path: '../Images/';

$flashMessageColor: rgba(240, 240, 93, 0.28);
$hoverColor: #900000;

$font: "Droid Sans", sans-serif;

@mixin iconFont($content) {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-family: 'ropen';
}