@import 'Settings';

@import 'h5bp';
@import 'Base';
@import 'Icons';
@import 'Edition';
@import 'Manuscripts';
@import 'Browser';
@import 'Frame';
@import 'Dialog';

.gridselector {
	top: 30px;
}

.button-alpha {
	background-image: url("../Images/content-button-down.png");
	background-repeat: no-repeat;
	padding: 0 25px 25px 30px;
	margin: 0 10px 0 0;
}

.content-img-style1 {
	background-color: #666666;
}

.content-img-style2 {
	background-color: #e6e0d1;
}

.content-img-style3 {
	background-color: #cccccc;
}

.font-italic {
	font-style: italic;
}

.font-bold {
	font-weight: bold;
}



/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
	*line-height: 0;
}

.ir br {
	display: none;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

@import 'Print';
