body {
	font-family: "Droid Sans", sans-serif;
	font-weight: normal;
	font-size: 12pt;
}

address {
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Sans", sans-serif;
	font-weight: normal;
	margin: 7px 0 20px 6px;
}

a, a:hover, a:visited {
	color: #666666;
	text-decoration: none;
}

noscript p {
	text-align: center;
	background-color: red;
	color: white;
	font-weight: bold;
	width: 100%;
	margin: 0;
	padding: 25px 0;
}
