.edition {
	ul {
		&.scope-selector {
			width: 92.2%;
			background-color: #dedede;
			margin: 0 0 0 10px;
			text-align: left;
			padding-left: 0;
			li {
				border-bottom: 1px solid #ddd;
				background-color: white;
				padding: 6px 10px!important;
				width: 30%;
				border-right: 1px solid #dedede;
				display: inline-block;
				text-align: center;
				&.search-scope-documents {
					border-right: none!important;
				}
				&:hover {
					background-color: white;
					border-bottom: 1px solid $hoverColor;
				}
				&.selected {
					background-color: white;
					border-bottom: 1px solid $hoverColor;
				}
				a {
					&:hover {
						text-decoration: none!important;
					}
				}
			}
		}
	}
	.search {
		background: #ddd;
		.main {
			background-color: white;
			box-shadow: none;
			margin: 0 10px;
			border: none;
			.advancedSearch {
				text-align: right;
				margin-right: 1em;
				&>div {
					font-size: 75%
				}
			}
			.edition-searchfield {
				border: 1px solid #b4b4b4;
				padding: 6px 10px;
				margin: 8px 0px;
				width: 79%;
			}
			.edition-submitbutton {
				display: inline;
				border-right: 1px solid #b4b4b4;
				border-bottom: 1px solid #b4b4b4;
				border-top: 1px solid #b4b4b4;
				border-left: none;
				float: right;
				margin: 8px 4px 0 0;
				background-color: white;
				font-size: 12pt;
				padding: 8px 5px 7px 5px;
				&:hover {
					color: $hoverColor;
				}
			}
		}
		box-shadow: none;
	}
}