.edition {
	.dialog {
		position: absolute;
		background-color: #dedede;
		border: 1px solid #a6a5a2;
		padding: 2px;
		.inner {
			background-color: white;
			padding: 20px 10px;
			margin: 30px 5px 5px 5px;
			text-align: center;
			a {
				display: inline;
				border: 1px solid white;
				border-bottom: 1px solid #dedede;
				background-color: #efefef;
				padding: 5px 20px;
				margin: 5px;
				background: #ffffff;
				cursor: pointer;
				&:hover {
					text-decoration: none !important;
					border-bottom: 1px solid $hoverColor;
				}
				.selected {
					background-color: #e0dccc;
				}
			}
		}
		.dialog-tools {
			float: right;
			padding: 4px 0 0 0;
			margin: 0;
			a {
				padding: 0 0px 0 0;
				margin: 0 4px 0 0;
				width: 25px;
			}
			li {
				display: inline;
				list-style-type: none;
				padding: 0;
				margin: 0;
				a {
					background-repeat: no-repeat;
				}
			}
		}
		.text {
			float: left;
			padding: 4px 0 0 6px;
		}
	}
}