@charset "UTF-8";
/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

@font-face {
  font-family: 'archaeo';
  src: url("../Fonts/archaeo.eot");
  src: url("../Fonts/archaeo.eot?#iefix") format("embedded-opentype"), url("../Fonts/archaeo.woff") format("woff"), url("../Fonts/archaeo.ttf") format("truetype"), url("../Fonts/archaeo.svg#archaeo") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }*/
/*::selection { background: #fe57a1; color: #fff; text-shadow: none; }*/
a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

a:focus {
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999999;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

/*input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }*/
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  margin: 13px 5px 13px 5px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

body {
  font-family: "Droid Sans", sans-serif;
  font-weight: normal;
  font-size: 12pt;
}

address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Droid Sans", sans-serif;
  font-weight: normal;
  margin: 7px 0 20px 6px;
}

a, a:hover, a:visited {
  color: #666666;
  text-decoration: none;
}

noscript p {
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 25px 0;
}

@font-face {
  font-family: 'ropen';
  src: url("../Fonts/ropen.eot");
  src: url("../Fonts/ropen.eot?#iefix") format("embedded-opentype"), url("../Fonts/ropen.woff") format("woff"), url("../Fonts/ropen.ttf") format("truetype"), url("../Fonts/ropen.svg#ropen") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'ropen';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

[class*="icon-"] {
  font-family: "ropen", "Droid Sans", sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube-play:before {
  content: "\e600";
}

.icon-facebook-sign:before {
  content: "\e601";
}

.icon-twitter:before {
  content: "\e602";
}

.icon-uniF000:before {
  content: "\f000";
}

.icon-uniE01F:before {
  content: "\e01f";
}

.icon-uniE01E:before {
  content: "\e01e";
}

.icon-uniE011:before {
  content: "\e011";
}

.icon-uniE010:before {
  content: "\e010";
}

.icon-uniE023:before {
  content: "\e023";
}

.icon-uniE00D:before {
  content: "\e00d";
}

.icon-uniE00C:before {
  content: "\e00c";
}

.icon-uniE009:before {
  content: "\e009";
}

.icon-uniE008:before {
  content: "\e008";
}

.icon-uniE015:before {
  content: "\e015";
}

.icon-uniE014:before {
  content: "\e014";
}

.icon-uniE00F:before {
  content: "\e00f";
}

.icon-uniE00E:before {
  content: "\e00e";
}

.icon-uniE019:before {
  content: "\e019";
}

.icon-uniE018:before {
  content: "\e018";
}

.icon-uniE017:before {
  content: "\e017";
}

.icon-uniE016:before {
  content: "\e016";
}

.icon-uniE013:before {
  content: "\e013";
}

.icon-uniE012:before {
  content: "\e012";
}

.icon-uniE005:before {
  content: "\e005";
}

.icon-uniE004:before {
  content: "\e004";
}

.icon-uniE00B:before {
  content: "\e00b";
}

.icon-uniE002:before {
  content: "\e002";
}

.icon-uniE021:before {
  content: "\e021";
}

.icon-uniE020:before {
  content: "\e020";
}

.icon-uniE01B:before {
  content: "\e01b";
}

.icon-uniE01A:before {
  content: "\e01a";
}

.icon-uniE003:before {
  content: "\e003";
}

.icon-uniE022:before {
  content: "\e022";
}

.icon-uniE054:before {
  content: "\e054";
}

.icon-uniE055:before {
  content: "\e055";
}

.icon-uniE051:before {
  content: "\e051";
}

.icon-uniE053:before {
  content: "\e053";
}

.icon-uniE052:before {
  content: "\e052";
}

.icon-uniE000:before {
  content: "\e000";
}

.icon-uniE001:before {
  content: "\e001";
}

.icon-uniE006:before {
  content: "\e006";
}

.icon-uniE007:before {
  content: "\e007";
}

.icon-uniE00A:before {
  content: "\e00a";
}

.icon-uniE01C:before {
  content: "\e01c";
}

.icon-uniE01D:before {
  content: "\e01d";
}

.icon-uniF001:before {
  content: "\f001";
}

.icon-chevron-down:before {
  content: "\f078";
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-search:before {
  content: "\e024";
}

.icon-fullscreen:before {
  content: "\f0b2";
}

.icon-contract:before {
  content: "\e025";
}

.icon-th:before {
  content: "\f00a";
}

.icon-question:before {
  content: "\f128";
}

.icon-remove:before {
  content: "\f00d";
}

.icon-contract-2:before {
  content: "\e026";
}

.icon-spin:before {
  content: "\e027";
}

.icon-sort-up:before {
  content: "\f0de";
}

.icon-sort-down:before {
  content: "\f0dd";
}

.icon-sort:before {
  content: "\f0dc";
}

.icon-books:before {
  content: "\e028";
}

.icon-book:before {
  content: "\e029";
}

.icon-link:before {
  content: "\e02a";
}

.icon-bookmark:before {
  content: "\e02b";
}

.icon-minus:before {
  content: "\f068";
}

.icon-warning-sign:before {
  content: "\f071";
}

.icon-file:before {
  content: "\f016";
}

.icon-lock:before {
  content: "\e02c";
}

.icon-unlocked:before {
  content: "\e02d";
}

.icon-first:before {
  content: "\e02e";
}

.icon-last:before {
  content: "\e02f";
}

.icon-wrench:before {
  content: "\e030";
}

.icon-earth:before {
  content: "\e031";
}

.icon-cloud:before {
  content: "\e032";
}

.icon-tree:before {
  content: "\e033";
}

.icon-image:before {
  content: "\e034";
}

.icon-list-nested:before {
  content: "\e035";
}

.icon-type:before {
  content: "\e036";
}

.icon-grid:before {
  content: "\e037";
}

.icon-download:before {
  content: "\e038";
}

.icon-numbered-list:before {
  content: "\e039";
}

#editionContainer {
  background-color: #EEEEEE;
}

#editionContainer a,
#editionContainer a:hover,
#editionContainer a:visited {
  /*
  	color: #666666 !important;
  	text-decoration: none !important;
  */
}

.edition-tools {
  margin: 0;
  padding: 0;
  top: 15px;
}

.content {
  background-color: #EEEEEE;
  color: #666666;
}

.edition .windowtools {
  float: right;
  padding: 4px 0 0 0;
  margin: 0 4px 0 0;
}
.edition .windowtools a {
  padding: 0 19px 0 0;
  margin: 0;
  width: 25px;
}
.edition .windowtools a:hover {
  text-decoration: none !important;
}
.edition .windowtools li {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.edition .windowtools li a {
  background-repeat: no-repeat;
}
.edition .hits a.result-title:hover {
  text-decoration: none !important;
}
.edition .hits a.result-title .doc-name:hover {
  text-decoration: none;
  cursor: pointer;
}
.edition .hits .searchresult {
  height: 146px;
  overflow: hidden;
  border-bottom: 1px solid #dedede;
}
.edition .hits .searchresult:last-child {
  border-bottom: 0;
}
.edition .hits .searchresult p {
  font-size: 80%;
}
.edition .hits .searchresult .searchresult-thumbnail {
  display: inline-block;
  float: left;
  width: 35%;
}
.edition .hits .searchresult .searchresult-thumbnail-link {
  width: 50px;
  height: 50px;
  background-color: #000;
  opacity: .6;
  position: relative;
  margin-top: 56px;
  margin-left: 35px;
}
.edition .hits .searchresult .searchresult-thumbnail-link:before {
  content: "";
  color: white;
  font-family: ropen;
  position: absolute;
  top: 18%;
  left: 26%;
  font-size: 150%;
}
.edition .hits .searchresult .searchresult-thumbnail-link:hover {
  cursor: pointer;
}
.edition .hits .searchresult .searchresult-text-link {
  width: 50px;
  height: 50px;
  background-color: #000;
  opacity: .6;
  position: absolute;
  right: 0;
  top: 50px;
}
.edition .hits .searchresult .searchresult-text-link:before {
  content: "\f016";
  color: white;
  font-family: ropen;
  position: absolute;
  top: 21%;
  left: 31%;
  font-size: 150%;
}
.edition .hits .searchresult .searchresult-text-link:hover {
  cursor: pointer;
}
.edition .hits .searchresult .result-text {
  position: relative;
  height: 100%;
  margin-left: 35%;
  width: 54%;
  margin-top: -0.8em;
  padding-left: 0.5em;
}
.edition .hits .searchresult .result-text p {
  cursor: pointer;
}
.edition .hits .searchresult .result-text .tei\:p {
  cursor: pointer;
}
.edition .info {
  z-index: 99999;
  position: absolute;
  background: white;
  border: 1px solid #a6a5a2;
  box-shadow: 0px 2px 2px #999999;
}
.edition .info p {
  padding: 0;
  margin: 10px;
}
.edition .info p:first-child {
  padding: 0 0 5px 0;
  font-size: 90%;
}
.edition .info p:nth-child(2) {
  border-top: 1px solid #313131;
  font-size: 75%;
  padding: 5px 0 0 0;
}
.edition .info .place {
  color: #004BCA;
}
.edition .info-tooltip {
  padding: 0px !important;
}
.edition .info-tooltip hr {
  background: black;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #000000 -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-right: 0 none;
  border-style: solid none none;
  border-width: 1px 0 0;
  display: block;
  height: 1px;
  margin: 0;
  padding: 0;
}
.edition .info-tooltip p {
  padding: 2px 5px !important;
  margin: 0 !important;
}
.edition .info-tooltip:nth-child(2) {
  border-top: 1px solid #dedede !important;
}
.edition .gridselector {
  top: 15px;
  position: absolute;
  right: 0;
  margin-right: 30px;
}
.edition .gridselector a {
  border: 1px solid #ddd;
  padding: 4px 0 4px 4px;
  margin-right: 10px;
}
.edition .gridselector a.active {
  color: #900000 !important;
}
.edition .gridselector a:hover {
  cursor: pointer;
  color: #900000 !important;
  text-decoration: none !important;
}

.edition .edition-tools {
  position: absolute;
  left: 60px;
}
.edition .edition-tools a {
  border: 1px solid #ddd;
  padding: 4px 0 4px 4px;
  margin-right: 10px;
}
.edition .edition-tools a:hover {
  color: #900000 !important;
  text-decoration: none !important;
  cursor: pointer;
}

.edition .search {
  margin: 10px 0;
  width: 600px;
  box-shadow: 0px 2px 2px #999999;
  border: 0px solid #999999;
  background: #ababab;
}
.edition .search .resize {
  float: right;
  background-image: url("../Images/edition-search-resize.png");
  background-repeat: no-repeat;
  padding: 0;
  margin: 5px 5px 0 0;
}
.edition .search .main {
  background-color: #f0f0f0;
  padding: 10px 4px;
  margin: 10px 10px 0 10px;
  border: 1px solid #9e9e9e;
}
.edition .search .main form {
  height: 50px;
  text-align: center;
  width: 95%;
}
.edition .search .main form div {
  padding: 5px 20px 0 5px;
}
.edition .search .main hr {
  width: 97%;
  margin: 0 5px 0 5px;
}
.edition .search .main .checkboxes li {
  margin: 0 0 6px 0;
}
.edition .search .main .check {
  background-image: url("../Images/edition-search-filter-boxempty.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 0 0 15px;
}
.edition .search .main .checked {
  background-image: url("../Images/edition-search-filter-boxchecked.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding: 0 0 0 15px;
}
.edition .search .main .filter-box {
  text-align: center;
  padding: 0;
}
.edition .search .main .col {
  float: left;
  padding: 0 0 0 15px;
  margin: 0 0 0 0px;
}
.edition .search .main .filter {
  text-align: left;
  margin: 0 0 10px 0;
  border: 1px solid #9d9d9d;
  background-color: white;
  font-size: 9pt;
}
.edition .search .main .filter div {
  background: #f2f2f2;
  padding: 4px 12px;
  border-bottom: 1px solid #9d9d9d;
}
.edition .search .main .filter ul {
  padding: 4px 12px;
  margin: 0;
}
.edition .search .main .filter ul li {
  list-style-type: none;
}

.edition .search .advancedSearch {
  color: #666666;
  margin: 0 0 0 5px;
}
.edition .search .advancedSearch .advancedSearchLabel {
  font-size: 80%;
  font-family: ropen, "Droid Sans", sans-serif;
}
.edition .search .advancedSearch span:first-child {
  cursor: pointer;
}
.edition .search .advancedSearch input[type="checkbox"], .edition .search .advancedSearch input[type="radio"] {
  margin: 5px;
}
.edition .search .advancedSearch ul {
  margin: 0;
  padding: 0;
}
.edition .search .advancedSearch li {
  list-style-type: none;
  font-size: 85%;
  text-align: left;
  margin-left: 22px;
}

.search-scope-search, .search-scope-documents {
  display: inline;
}
.search-scope-search:selected, .search-scope-documents:selected {
  background: none !important;
}

.edition .search .main ul.hits {
  padding: 0;
  margin: 0 4px;
}

.edition .search .hits .even {
  background: #fdfcfd;
}

.edition .search .searchresult {
  padding-top: 10px;
}

.edition .search .main .hits li > a {
  text-indent: -14px;
  display: block;
  padding-left: 19px;
  font-size: 90%;
}

.edition .search .main .hits div img {
  float: left;
}
.edition .search .main .hits div img.fat-border {
  border: 4px solid white;
}

.edition .search .main .hits .hits-p {
  font-size: 10pt;
  margin: 0 0 0 120px;
  background-color: white;
  border: 10px solid white;
}

.edition .search .main .hits .show img {
  border: 10px solid #b8b8b8;
}

.edition .search .main .hits .show p {
  color: white;
  background-color: #b8b8b8;
  border: 10px solid #b8b8b8;
}

.edition .search .hits .results-counter {
  display: block;
  text-align: right;
  padding-right: 20px;
  font-style: italic;
  font-size: 80%;
}

.edition .search .main .hits li {
  border-bottom: 1px solid #c2c2c2;
  list-style-type: none;
  margin: 8px 0;
  padding: 10px 0;
}
.edition .search .main .hits li:hover {
  border-bottom: 1px solid #900000;
}

.edition .window {
  line-height: normal;
  margin: 10px;
  background-color: #ddd8c9;
  width: 700px;
}

.edition .window .h4 {
  margin: 0;
  padding: 5px;
  float: left;
  font-family: "Droid Sans", sans-serif;
}

.edition .window .tabs {
  font-size: 8pt;
  margin: 0;
  padding: 0 0 3px 4px;
}
.edition .window .tabs img {
  margin: 0 3px;
  cursor: pointer;
}
.edition .window .tabs li {
  background-color: white;
  list-style-type: none;
  display: inline;
  padding: 7px 4px;
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
}
.edition .window .tabs li a {
  padding: 8px;
  color: white;
  cursor: pointer;
}
.edition .window .tabs li a:hover {
  text-decoration: none !important;
}
.edition .window .tabs li:hover {
  border-bottom: 1px solid #900000;
}
.edition .window .tabs .selected {
  background-color: white;
  border-bottom: 1px solid #900000;
  cursor: pointer;
}
.edition .window .tabs .selected a {
  color: black;
}

.edition .window .inner {
  background-color: white;
  padding: 0;
  margin: 4px;
}
.edition .window .inner .resize {
  float: right;
  cursor: pointer;
}
.edition .window .inner .windowcontent {
  border-top: 1px solid #a6a5a2;
  padding: 10px 10px 15px 10px;
  margin: 0;
  font-size: 10pt;
}
.edition .window .inner .windowcontent .textmarker {
  cursor: pointer;
}
.edition .window .inner .windowcontent .textmarker-style1 {
  color: #ff0013;
}
.edition .window .inner .windowcontent .textmarker-style2 {
  color: #224eca;
}
.edition .window .inner .windowcontent .textmarker-style3 {
  color: #d40063;
}
.edition .window .inner .pagination {
  font-size: 12pt;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  border-top: 1px solid #dedede;
}
.edition .window .inner .pagination li {
  display: inline-block;
  width: 12.2%;
  text-align: center;
  border-right: 1px solid #dedede;
  padding: 8px 0;
}
.edition .window .inner .pagination li a {
  padding: 0;
  margin: 0;
}
.edition .window .inner .pagination li a:hover {
  text-decoration: none !important;
}
.edition .window .inner .pagination li:hover, .edition .window .inner .pagination li.active {
  border-top: 1px solid #900000;
  margin-top: -1px;
  cursor: pointer;
}
.edition .window .inner .pagination li:last-child {
  border-right: none;
}
.edition .window .inner .pagination a {
  width: 25px;
  cursor: pointer;
}

.edition .window .inner li .tools-dfg, .edition .window .inner li .tools-pdf {
  font-size: 70%;
  border: 1px solid #dedede;
  padding: 5px 3px !important;
}
.edition .window .inner li .tools-dfg:hover, .edition .window .inner li .tools-pdf:hover {
  text-decoration: none !important;
  color: #900000 !important;
}

.edition .window .inner .toolstop a {
  padding: 0 22px 0 0;
  margin: 0 4px 0 0;
  width: 25px;
}
.edition .window .inner .toolstop ul {
  padding: 0;
}
.edition .window .inner .toolstop ul li {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.edition .window .inner .toolstop ul li .icon-chevron-left {
  padding-right: 1px !important;
}
.edition .window .inner .toolstop ul li .icon-chevron-left:hover {
  text-decoration: none !important;
}
.edition .window .inner .toolstop ul li .icon-chevron-right {
  padding-left: 4px;
  text-decoration: none !important;
}
.edition .window .inner .toolstop ul li form {
  padding: 0 5px 0 0;
}
.edition .window .inner .toolstop ul li a {
  background-repeat: no-repeat;
  cursor: pointer;
}
.edition .window .inner .toolstop ul li a:hover {
  text-decoration: none !important;
  color: #900000 !important;
}
.edition .window .inner .toolstop ul .icon-unlocked, .edition .window .inner .toolstop ul .icon-lock {
  border: 1px solid #dedede;
  padding: 1px 6px 2px !important;
  height: 20px !important;
  width: 20px;
}
.edition .window .inner .toolstop ul .icon-unlocked:hover, .edition .window .inner .toolstop ul .icon-lock:hover {
  text-decoration: none !important;
  color: #900000;
}
.edition .window .inner .toolstop select {
  background-color: white;
}

.edition .window .inner .toolstop ul:first-child {
  float: left;
  margin: 5px;
  width: 50%;
}

.edition .window .inner .toolstop ul:first-child li:first-child {
  margin: 3px 0 0 0;
}

.edition .window .inner .toolstop ul:nth-child(2) {
  float: right;
  width: 39%;
  margin: 0;
  padding: 8px 0;
  text-align: right;
}

.edition .window .inner .tools {
  position: relative;
  top: 5px;
  left: 10px;
  margin: 0;
  padding: 0 0 10px 0;
  width: 100%;
  text-align: center;
}
.edition .window .inner .tools a {
  padding: 0 22px 0 0;
  margin: 0 4px 0 0;
  width: 25px;
  cursor: pointer;
}
.edition .window .inner .tools li {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.edition .window .inner .tools li a {
  background-repeat: no-repeat;
}

#manuscripts_page #scriptContainer h3 {
  margin-top: 10px;
}

.edition ul.scope-selector {
  width: 92.2%;
  background-color: #dedede;
  margin: 0 0 0 10px;
  text-align: left;
  padding-left: 0;
}
.edition ul.scope-selector li {
  border-bottom: 1px solid #ddd;
  background-color: white;
  padding: 6px 10px !important;
  width: 30%;
  border-right: 1px solid #dedede;
  display: inline-block;
  text-align: center;
}
.edition ul.scope-selector li.search-scope-documents {
  border-right: none !important;
}
.edition ul.scope-selector li:hover {
  background-color: white;
  border-bottom: 1px solid #900000;
  cursor: pointer;
}
.edition ul.scope-selector li.selected {
  background-color: white;
  border-bottom: 1px solid #900000;
}
.edition ul.scope-selector li a:hover {
  text-decoration: none !important;
}
.edition .search {
  background: #ddd;
  box-shadow: none;
}
.edition .search .main {
  background-color: white;
  box-shadow: none;
  margin: 0 10px;
  border: none;
}
.edition .search .main .advancedSearch {
  text-align: right;
  margin-right: 1em;
}
.edition .search .main .advancedSearch > div {
  font-size: 75%;
}
.edition .search .main .edition-searchfield {
  border: 1px solid #b4b4b4;
  padding: 6px 10px;
  margin: 8px 0px;
  width: 79%;
}
.edition .search .main .edition-submitbutton {
  display: inline;
  border-right: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
  border-top: 1px solid #b4b4b4;
  border-left: none;
  float: right;
  margin: 8px 4px 0 0;
  background-color: white;
  font-size: 12pt;
  padding: 8px 5px 7px 5px;
}
.edition .search .main .edition-submitbutton:hover {
  color: #900000;
}

.frame .windowtools a {
  font-size: 80%;
  padding: 0 8px 0 0;
}
.frame .windowtools a:hover {
  cursor: pointer;
}

.edition .dialog {
  position: absolute;
  background-color: #dedede;
  border: 1px solid #a6a5a2;
  padding: 2px;
}
.edition .dialog .inner {
  background-color: white;
  padding: 20px 10px;
  margin: 30px 5px 5px 5px;
  text-align: center;
}
.edition .dialog .inner a {
  display: inline;
  border: 1px solid white;
  border-bottom: 1px solid #dedede;
  background-color: #efefef;
  padding: 5px 20px;
  margin: 5px;
  background: #ffffff;
  cursor: pointer;
}
.edition .dialog .inner a:hover {
  text-decoration: none !important;
  border-bottom: 1px solid #900000;
}
.edition .dialog .inner a .selected {
  background-color: #e0dccc;
}
.edition .dialog .dialog-tools {
  float: right;
  padding: 4px 0 0 0;
  margin: 0;
}
.edition .dialog .dialog-tools a {
  padding: 0 0px 0 0;
  margin: 0 4px 0 0;
  width: 25px;
}
.edition .dialog .dialog-tools li {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.edition .dialog .dialog-tools li a {
  background-repeat: no-repeat;
}
.edition .dialog .text {
  float: left;
  padding: 4px 0 0 6px;
}

ul.dynatree-container {
  font-size: 10pt;
  border-bottom: 1px solid #d6d6d6;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 10px 0 !important;
}
ul.dynatree-container ul {
  padding: 0 0 0 16px;
  margin: 0;
}
ul.dynatree-container li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background-attachment: scroll;
  background-color: transparent;
  background-repeat: repeat-y;
  background-image: url("../Images/dynatree/vline.gif");
  background-position: 0 0;
  margin: 0;
  padding: 1px 0 0 0;
}
ul.dynatree-container li.dynatree-lastsib {
  background-image: none;
}

/* Suppress lines if level is fixed expanded (option minExpandLevel) */
ul.dynatree-no-connector > li {
  background-image: none;
}

/* Style, when control is disabled */
.ui-dynatree-disabled ul.dynatree-container {
  opacity: 0.5;
  /*	filter: alpha(opacity=50); /* Yields a css warning */
  background-color: silver;
}

/*******************************************************************************
 * Common icon definitions
 */
span.dynatree-empty,
span.dynatree-vline,
span.dynatree-connector,
span.dynatree-expander,
span.dynatree-icon,
span.dynatree-checkbox,
span.dynatree-radio,
span.dynatree-drag-helper-img,
#dynatree-drop-marker {
  width: 16px;
  height: 16px;
  display: -moz-inline-box;
  /* @ FF 1+2 */
  display: inline-block;
  /* Required to make a span sizeable */
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("../Images/dynatree/icons.gif");
  background-position: 0 0;
}

/** Used by 'icon' node option: */
ul.dynatree-container img {
  width: 16px;
  height: 16px;
  margin-left: 3px;
  vertical-align: top;
  border-style: none;
}

/*******************************************************************************
 * Lines and connectors
 */
span.dynatree-connector {
  background-position: -16px -64px;
}

/*******************************************************************************
 * Expander icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: dynatree-exp-
 * 1st character: 'e': expanded, 'c': collapsed
 * 2nd character (optional): 'd': lazy (Delayed)
 * 3rd character (optional): 'l': Last sibling
 */
span.dynatree-expander {
  background-position: 0px -80px;
  cursor: pointer;
}

.dynatree-exp-cl span.dynatree-expander {
  background-position: 0px -96px;
}

.dynatree-exp-cd span.dynatree-expander {
  background-position: -64px -80px;
}

.dynatree-exp-cdl span.dynatree-expander {
  background-position: -64px -96px;
}

.dynatree-exp-e span.dynatree-expander,
.dynatree-exp-ed span.dynatree-expander {
  background-position: -32px -80px;
}

.dynatree-exp-el span.dynatree-expander,
.dynatree-exp-edl span.dynatree-expander {
  background-position: -32px -96px;
}

.dynatree-loading span.dynatree-expander {
  background-position: 0 0;
  background-image: url("../Images/dynatree/loading.gif");
}

/*******************************************************************************
 * Checkbox icon
 */
span.dynatree-checkbox {
  margin-left: 3px;
  background-position: 0px -32px;
}
span.dynatree-checkbox:hover {
  background-position: -16px -32px;
}

.dynatree-partsel span.dynatree-checkbox {
  background-position: -64px -32px;
}
.dynatree-partsel span.dynatree-checkbox:hover {
  background-position: -80px -32px;
}

.dynatree-selected span.dynatree-checkbox {
  background-position: -32px -32px;
}
.dynatree-selected span.dynatree-checkbox:hover {
  background-position: -48px -32px;
}

/*******************************************************************************
 * Radiobutton icon
 * This is a customization, that may be activated by overriding the 'checkbox'
 * class name as 'dynatree-radio' in the tree options.
 */
span.dynatree-radio {
  margin-left: 3px;
  background-position: 0px -48px;
}
span.dynatree-radio:hover {
  background-position: -16px -48px;
}

.dynatree-partsel span.dynatree-radio {
  background-position: -64px -48px;
}
.dynatree-partsel span.dynatree-radio:hover {
  background-position: -80px -48px;
}

.dynatree-selected span.dynatree-radio {
  background-position: -32px -48px;
}
.dynatree-selected span.dynatree-radio:hover {
  background-position: -48px -48px;
}

/*******************************************************************************
 * Node type icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: dynatree-ico-
 * 1st character: 'e': expanded, 'c': collapsed
 * 2nd character (optional): 'f': folder
 */
span.dynatree-icon {
  margin-left: 3px;
  background-position: 0px 0px;
}

.dynatree-ico-cf span.dynatree-icon {
  background-position: 0px -16px;
}

.dynatree-ico-ef span.dynatree-icon {
  background-position: -64px -16px;
}

/* Status node icons */
.dynatree-statusnode-wait span.dynatree-icon {
  background-image: url("../Images/dynatree/loading.gif");
}

.dynatree-statusnode-error span.dynatree-icon {
  background-position: 0px -112px;
  /*	background-image: url("ltError.gif");*/
}

/*******************************************************************************
 * Node titles
 */
/* @Chrome: otherwise hit area of node titles is broken (issue 133)
   Removed again for issue 165; (133 couldn't be reproduced) */
span.dynatree-node {
  /*  display: -moz-inline-box; /* @ FF 1+2 */
  /*  display: inline-block; /* Required to make a span sizeable */
}
span.dynatree-node .head-anchor {
  width: 80%;
}
span.dynatree-node a {
  display: inline-block;
  /* Better alignment, when title contains <br> */
  /*	vertical-align: top;*/
  padding-left: 3px;
  padding-right: 3px;
  /* Otherwise italic font will be outside bounds */
  /*	line-height: 16px; /* should be the same as img height, in case 16 px */
}

span.dynatree-node
span.dynatree-folder a {
  font-weight: bold;
}

ul.dynatree-container a:focus,
span.dynatree-focused a:link {
  background-color: #EFEBDE;
  /* gray */
}

ul.dynatree-container a {
  color: black;
  /* inherit doesn't work on IE */
  text-decoration: none;
  vertical-align: top;
  margin: 0px;
  margin-left: 3px;
}
ul.dynatree-container a:hover {
  background: #F2F7FD;
  /* light blue */
  border-color: #B8D6FB;
  /* darker light blue */
}

span.dynatree-selected a {
  color: green;
  font-style: italic;
}

span.dynatree-active a {
  background-color: #3169C6 !important;
  color: white !important;
  /* @ IE6 */
}

/*******************************************************************************
 * Drag'n'drop support
 */
/*** Helper object ************************************************************/
div.dynatree-drag-helper a {
  border: 1px solid gray;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.8;
}

div.dynatree-drop-accept span.dynatree-drag-helper-img {
  background-position: -32px -112px;
}

div.dynatree-drag-helper.dynatree-drop-reject {
  border-color: red;
}

div.dynatree-drop-reject span.dynatree-drag-helper-img {
  background-position: -16px -112px;
}

/*** Drop marker icon *********************************************************/
#dynatree-drop-marker {
  width: 24px;
  position: absolute;
  background-position: 0 -128px;
}

#dynatree-drop-marker.dynatree-drop-after,
#dynatree-drop-marker.dynatree-drop-before {
  width: 64px;
  background-position: 0 -144px;
}

#dynatree-drop-marker.dynatree-drop-copy {
  background-position: -64px -128px;
}

#dynatree-drop-marker.dynatree-drop-move {
  background-position: -64px -128px;
}

/*** Source node while dragging ***********************************************/
span.dynatree-drag-source {
  /* border: 1px dotted gray; */
  background-color: #e0e0e0;
}

span.dynatree-drag-source a {
  color: gray;
}

/*** Target node while dragging cursor is over it *****************************/
span.dynatree-drop-target.dynatree-drop-accept a {
  /*border: 1px solid green;*/
  background-color: #3169C6 !important;
  color: white !important;
  /* @ IE6 */
  text-decoration: none;
}

.dynatree-container ul li .head-anchor {
  width: 80%;
}
.dynatree-container ul li ul li .head-anchor {
  width: 60%;
}
.dynatree-container ul li ul li ul li .head-anchor {
  width: 60%;
}
.dynatree-container ul li ul li ul li ul li .head-anchor {
  width: 60%;
}

/*
* css for the display of tei specific classes 
*/
.exist\:match {
  background-color: #F3E38F;
}

.tei\:note {
  text-align: left;
  float: right;
  border-left: 1px solid #cccccc !important;
  padding-left: 4px;
  width: 30%;
}

.tei\:div {
  float: left;
  width: 100%;
}

.tei\:expan {
  background: white;
  color: #A9A9A9;
}

.tei\:add {
  background: #D3D3D3;
}

.tei\:pb {
  display: inline;
  border: 0;
}
.tei\:pb:before {
  content: "⤷";
}

.tei\:unclear {
  border-bottom: 1px dotted black;
}

.tei\:gap {
  width: 100px;
}

.tei\:hi-underline {
  text-decoration: underline;
}

.tei\:hi-double-underline {
  border-bottom: 1px double black;
}

.tei\:hi-bold {
  font-weight: bold;
}

.tei\:hi-italic {
  font-style: italic;
}

.tei\:q:before {
  content: '"';
}

.tei\:q:after {
  content: '"';
}

.entity0 {
  color: Darkorange;
  border: 0px solid Darkorange;
}

.entity4 {
  color: DodgerBlue;
  border: 0px solid DodgerBlue;
}

.entity2 {
  color: ForestGreen;
  border: 0px solid ForestGreen;
}

.entity5 {
  color: Crimson;
  border: 0px solid Crimson;
}

.entity1 {
  color: DarkViolet;
  border: 0px solid DarkViolet;
}

.entity3 {
  color: DeepPink;
  border: 0px solid DeepPink;
}

.head-anchor {
  cursor: pointer;
}

.doctype-text .tei\:fw {
  display: none;
}

.doctype-pages .tei\:fw {
  display: block;
  border-bottom: 1px solid #999;
  padding: 10px 0;
  width: 80%;
  margin-bottom: 10px;
}
.doctype-pages .tei\:pb {
  display: none;
}

.button-alpha {
  background-image: url("../Images/content-button-down.png");
  background-repeat: no-repeat;
  padding: 0 25px 25px 30px;
  margin: 0 10px 0 0;
}

.content-img-style1 {
  background-color: #666666;
}

.content-img-style2 {
  background-color: #e6e0d1;
}

.content-img-style3 {
  background-color: #cccccc;
}

.font-italic {
  font-style: italic;
}

.font-bold {
  font-weight: bold;
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
